# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Build output
**/.svelte-kit
**/build
**/dist
**/.turbo
packages/sv/.test-output
packages/sv/demo

# Dependencies
**/node_modules

# Miscellaneous
static/

apps/docs2/src/content/docs/form/theme.mdx

# Generated shadcn components (only format index.ts)
lab/shadcn-extras-theme/src/lib/components/ui/**/*
!lab/shadcn-extras-theme/src/lib/components/ui/index.ts
