.basic-button {
  &[data-type="object-property-add"],
  &[data-type="array-item-add"] {
    width: 100%;
    padding: 0.25rem;
  }
}

.basic-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: larger;
  &[data-template="fieldTemplate"] {
    font-size: unset;
  }
}

.basic-description,
.basic-help {
  font-weight: 300;
}

.basic-errors-list {
  color: red;
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

.basic-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.basic-label {
  font-weight: bold;
}

.basic-submit-button {
  width: 100%;
  padding: 0.5rem;
}
