@reference './app.css';

/* Shiki see: https://shiki.matsu.io/guide/dual-themes#class-based-dark-mode */
html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

pre.shiki {
  @apply overflow-x-auto rounded-lg bg-inherit py-4 text-sm;
}

pre.shiki:not([data-code-overflow] *:not([data-code-overflow])) {
  @apply overflow-y-auto;
  max-height: min(100%, 650px);
}

pre.shiki code {
  @apply grid min-w-full rounded-none border-0 bg-transparent p-0 break-words;
  counter-reset: line;
  box-decoration-break: clone;
}

pre.line-numbers {
  counter-reset: step;
  counter-increment: step 0;
}

pre.line-numbers .line::before {
  content: counter(step);
  counter-increment: step;
  display: inline-block;
  width: 1.8rem;
  margin-right: 1.4rem;
  text-align: right;
}

pre.line-numbers .line::before {
  @apply text-muted-foreground;
}

pre .line.line--highlighted {
  @apply bg-secondary;
}

pre .line.line--highlighted span {
  @apply relative;
}

pre .line {
  @apply inline-block min-h-4 w-full px-4 py-0.5;
}

pre.line-numbers .line {
  @apply px-2;
}
