---
import type { AstroComponentFactory } from "astro/runtime/server/index.js";
import { iconSetPackage, iconSets, iconSetTitle, type IconSet } from 'meta';

import { getPackageDependencies } from '@/shared';
import Npm from "@/components/npm.astro";
import StaticTabs from "@/components/static-tabs.astro";
import Demo from "@/components/demo.svelte";

import FlowbiteIconsInstall from "./_flowbite-icons-install.md";

const ADDITIONAL: Partial<Record<IconSet, AstroComponentFactory>> = {
  flowbite: FlowbiteIconsInstall,
};

const ICON_SETS = Array.from(iconSets())
---

<StaticTabs
  sticky
  tabs={ICON_SETS.map((iconSet) => ({
    key: iconSet,
    label: iconSetTitle(iconSet),
    checked: iconSet === "lucide",
  }))}
>
  {
    ICON_SETS.map((iconSet) => {
      const Additional = ADDITIONAL[iconSet];
      return (
        <div class="static-content" data-theme={iconSet}>
          <Npm pkg={getPackageDependencies(iconSetPackage(iconSet))} />
          {Additional && <Additional />}
          <h3>Usage</h3>
          <Demo name="all-icons" iconSet={iconSet} client:visible />
        </div>
      );
    })
  }
</StaticTabs>
